.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px;
}
.main-header {
  border: 1px solid #000;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  
}
.navigator{
    background-color: #fff;
   
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    align-content: center;
   
  }
  .main-meny {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px
  }


.logo {
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #0a1b32;
    margin-top: 37px;
    margin-left: 80px;
  }
  
  .logo-dot {
    color: #a3dc00;
  }
  .main-title {
    max-width: 495px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1b0a42;
    text-shadow: 10px;
    box-shadow: 10px;
  }
  
  .main-info {
    max-width: 583px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 200px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9a9a9a;
  }
  .btn {
    font-family: Poppins, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcd0e5;
    justify-content: center;
    color: #173a56;
    padding: 15px 25px;
   
  }
  .btn--sign-up {
    background-color: #f90;
    color: #fff;
  }
  
  section {
    display: inline-block;
    flex-direction: column;
    align-self: center;
  }
  .meny,
  .meny-right {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1b0a42;
    text-align: center;
    margin-right: 20px;
  }
  .meny {
    float: left;
  }
  .meny-right {
    display: inline-block;
  }
  .section-right {
    float: right;
    margin-right: 80px;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    margin-top: 45px;
    flex-direction: column;
  }
  .main-nav {
    margin-left: 20px;
  }
  